@font-face {
    font-family: 'Cafe24Simplehae';
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/Cafe24Simplehae.ttf);
    src: url(/assets/fonts/Cafe24Simplehae.ttf) format("truetype"), 
    url(/assets/fonts/Cafe24Simplehae.otf) format("opentype");
}