//margin
.spacing_b_5{
    margin-bottom: 5px;
}
.spacing_b_10{
    margin-bottom: 10px;
}
.spacing_b_15{
    margin-bottom: 15px;
}
.spacing_b_20{
    margin-bottom: 20px;
}
.spacing_b_30{
    margin-bottom: 30px !important;
}
.spacing_b_40{
    margin-bottom: 40px;
}
.spacing_b_50{
    margin-bottom: 50px;
}
.spacing_b_70{
    margin-bottom: 70px;
}
.spacing_b_100{
    margin-bottom: 100px;
}

.spacing_t_10{
    margin-top: 10px;
}
.spacing_t_30{
    margin-top: 30px;
}
.spacing_t_50{
    margin-top: 50px;
}
.spacing_t_60{
    margin-top: 60px;
}
.spacing_t_100{
    margin-top: 100px;
}

.spacing_r_15{
    margin-right: 15px;
}