* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

.off {
  display: none !important;
}

@media (min-width: 720px) {
  .web_none {
    display: none;
  }
}

@media (max-width: 719px) {
  .mobile_none {
    display: none;
  }
}

.center {
  text-align: center;
}

@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.flex_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_between_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex_start_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacing_b_5 {
  margin-bottom: 5px;
}

.spacing_b_10 {
  margin-bottom: 10px;
}

.spacing_b_15 {
  margin-bottom: 15px;
}

.spacing_b_20 {
  margin-bottom: 20px;
}

.spacing_b_30 {
  margin-bottom: 30px !important;
}

.spacing_b_40 {
  margin-bottom: 40px;
}

.spacing_b_50 {
  margin-bottom: 50px;
}

.spacing_b_70 {
  margin-bottom: 70px;
}

.spacing_b_100 {
  margin-bottom: 100px;
}

.spacing_t_10 {
  margin-top: 10px;
}

.spacing_t_30 {
  margin-top: 30px;
}

.spacing_t_50 {
  margin-top: 50px;
}

.spacing_t_60 {
  margin-top: 60px;
}

.spacing_t_100 {
  margin-top: 100px;
}

.spacing_r_15 {
  margin-right: 15px;
}

section {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url(/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.inner_section {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.inner_section > div {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
@media (min-width: 720px) {
  .inner_section {
    max-width: 500px;
  }
}
.inner_section .item_wrap {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
}
.inner_section .item_wrap .drag_items {
  width: 70%;
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: -webkit-grab;
  cursor: grab;
}
.inner_section .item_wrap .drag_items:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.inner_section .item_wrap .drag_items > div {
  width: 100%;
  padding-bottom: 153%;
  background-position: center;
  background-size: cover;
}
.inner_section .shy_girl {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
}
.inner_section .shy_girl > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
}
.inner_section .shy_girl > div.brush {
  z-index: 2;
  opacity: 0;
}
.inner_section .shy_girl .text {
  background-color: #E83D1F;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 4vh;
  z-index: 50;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(-10deg);
          transform: translate(-50%, -50%) rotate(-10deg);
  -webkit-animation-name: twinkle;
          animation-name: twinkle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: none;
}
@-webkit-keyframes twinkle {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes twinkle {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}