@font-face {
  font-family: "Cafe24Simplehae";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Cafe24Simplehae.ttf);
  src: url(/assets/fonts/Cafe24Simplehae.ttf) format("truetype"), url(/assets/fonts/Cafe24Simplehae.otf) format("opentype");
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

.off {
  display: none !important;
}

@media (min-width: 720px) {
  .web_none {
    display: none;
  }
}

@media (max-width: 719px) {
  .mobile_none {
    display: none;
  }
}

.fontBasic14 {
  font-family: "Cafe24Simplehae", cursive;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: black;
}

.fontBasic21 {
  font-family: "Cafe24Simplehae", cursive;
  font-size: 21px;
  line-height: 135%;
  font-weight: 500;
  color: white;
}

.fontBasic30 {
  font-family: "Cafe24Simplehae", cursive;
  font-size: 30px;
  line-height: 135%;
  font-weight: 500;
  color: white;
}

.center {
  text-align: center;
}

@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.flex_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_between_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex_start_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacing_b_5 {
  margin-bottom: 5px;
}

.spacing_b_10 {
  margin-bottom: 10px;
}

.spacing_b_15 {
  margin-bottom: 15px;
}

.spacing_b_20 {
  margin-bottom: 20px;
}

.spacing_b_30 {
  margin-bottom: 30px !important;
}

.spacing_b_40 {
  margin-bottom: 40px;
}

.spacing_b_50 {
  margin-bottom: 50px;
}

.spacing_b_70 {
  margin-bottom: 70px;
}

.spacing_b_100 {
  margin-bottom: 100px;
}

.spacing_t_10 {
  margin-top: 10px;
}

.spacing_t_30 {
  margin-top: 30px;
}

.spacing_t_50 {
  margin-top: 50px;
}

.spacing_t_60 {
  margin-top: 60px;
}

.spacing_t_100 {
  margin-top: 100px;
}

.spacing_r_15 {
  margin-right: 15px;
}

section {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.section_cover {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  display: none;
}
.section_cover.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay_img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  position: relative;
}
.overlay_img > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay;
  content: "";
}
.overlay_img.cake1 {
  background-image: url(/assets/images/1.png);
}
.overlay_img.cake1 > div {
  mask: url(/assets/images/1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/1-cover.svg) no-repeat center/contain;
}
.overlay_img.cake2 {
  background-image: url(/assets/images/2.png);
}
.overlay_img.cake2 > div {
  mask: url(/assets/images/2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/2-cover.svg) no-repeat center/contain;
}
.overlay_img.cake3 {
  background-image: url(/assets/images/3.png);
}
.overlay_img.cake3 > div {
  mask: url(/assets/images/3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/3-cover.svg) no-repeat center/contain;
}
.overlay_img.cake4 {
  background-image: url(/assets/images/4.png);
}
.overlay_img.cake4 > div {
  mask: url(/assets/images/4-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/4-cover.svg) no-repeat center/contain;
}
.overlay_img.cake5 {
  background-image: url(/assets/images/5.png);
}
.overlay_img.cake5 > div {
  mask: url(/assets/images/5-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/5-cover.svg) no-repeat center/contain;
}
.overlay_img.cream1-1 {
  background-image: url(/assets/images/1-1.png);
}
.overlay_img.cream1-1 > div {
  mask: url(/assets/images/1-1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/1-1-cover.svg) no-repeat center/contain;
}
.overlay_img.cream1-2 {
  background-image: url(/assets/images/1-2.png);
}
.overlay_img.cream1-2 > div {
  mask: url(/assets/images/1-2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/1-2-cover.svg) no-repeat center/contain;
}
.overlay_img.cream1-3 {
  background-image: url(/assets/images/1-3.png);
}
.overlay_img.cream1-3 > div {
  mask: url(/assets/images/1-3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/1-3-cover.svg) no-repeat center/contain;
}
.overlay_img.cream2-1 {
  background-image: url(/assets/images/2-1.png);
}
.overlay_img.cream2-1 > div {
  mask: url(/assets/images/2-1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/2-1-cover.svg) no-repeat center/contain;
}
.overlay_img.cream2-2 {
  background-image: url(/assets/images/2-2.png);
}
.overlay_img.cream2-2 > div {
  mask: url(/assets/images/2-2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/2-2-cover.svg) no-repeat center/contain;
}
.overlay_img.cream2-3 {
  background-image: url(/assets/images/2-3.png);
}
.overlay_img.cream2-3 > div {
  mask: url(/assets/images/2-3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/2-3-cover.svg) no-repeat center/contain;
}
.overlay_img.cream3-1 {
  background-image: url(/assets/images/3-1.png);
}
.overlay_img.cream3-1 > div {
  mask: url(/assets/images/3-1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/3-1-cover.svg) no-repeat center/contain;
}
.overlay_img.cream3-2 {
  background-image: url(/assets/images/3-2.png);
}
.overlay_img.cream3-2 > div {
  mask: url(/assets/images/3-2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/3-2-cover.svg) no-repeat center/contain;
}
.overlay_img.cream3-3 {
  background-image: url(/assets/images/3-3.png);
}
.overlay_img.cream3-3 > div {
  mask: url(/assets/images/3-3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/3-3-cover.svg) no-repeat center/contain;
}
.overlay_img.cream4-1 {
  background-image: url(/assets/images/4-1.png);
}
.overlay_img.cream4-1 > div {
  mask: url(/assets/images/4-1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/4-1-cover.svg) no-repeat center/contain;
}
.overlay_img.cream4-2 {
  background-image: url(/assets/images/4-2.png);
}
.overlay_img.cream4-2 > div {
  mask: url(/assets/images/4-2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/4-2-cover.svg) no-repeat center/contain;
}
.overlay_img.cream4-3 {
  background-image: url(/assets/images/4-3.png);
}
.overlay_img.cream4-3 > div {
  mask: url(/assets/images/4-3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/4-3-cover.svg) no-repeat center/contain;
}
.overlay_img.cream5-1 {
  background-image: url(/assets/images/5-1.png);
}
.overlay_img.cream5-1 > div {
  mask: url(/assets/images/5-1-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/5-1-cover.svg) no-repeat center/contain;
}
.overlay_img.cream5-2 {
  background-image: url(/assets/images/5-2.png);
}
.overlay_img.cream5-2 > div {
  mask: url(/assets/images/5-2-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/5-2-cover.svg) no-repeat center/contain;
}
.overlay_img.cream5-3 {
  background-image: url(/assets/images/5-3.png);
}
.overlay_img.cream5-3 > div {
  mask: url(/assets/images/5-3-cover.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/5-3-cover.svg) no-repeat center/contain;
}
.overlay_img.deco1-1 {
  background-image: url(/assets/images/1-d1.png);
}
.overlay_img.deco1-2 {
  background-image: url(/assets/images/1-d2.png);
}
.overlay_img.deco1-3 {
  background-image: url(/assets/images/1-d3.png);
}
.overlay_img.deco2-1 {
  background-image: url(/assets/images/2-d1.png);
}
.overlay_img.deco2-2 {
  background-image: url(/assets/images/2-d2.png);
}
.overlay_img.deco2-3 {
  background-image: url(/assets/images/2-d3.png);
}
.overlay_img.deco3-1 {
  background-image: url(/assets/images/3-d1.png);
}
.overlay_img.deco3-2 {
  background-image: url(/assets/images/3-d2.png);
}
.overlay_img.deco3-3 {
  background-image: url(/assets/images/3-d3.png);
}
.overlay_img.deco4-1 {
  background-image: url(/assets/images/4-d1.png);
}
.overlay_img.deco4-2 {
  background-image: url(/assets/images/4-d2.png);
}
.overlay_img.deco4-3 {
  background-image: url(/assets/images/4-d3.png);
}
.overlay_img.deco5-1 {
  background-image: url(/assets/images/5-d1.png);
}
.overlay_img.deco5-2 {
  background-image: url(/assets/images/5-d2.png);
}
.overlay_img.deco5-3 {
  background-image: url(/assets/images/5-d3.png);
}

.select_array {
  width: 194px;
}
.select_array ul li {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid transparent;
  border-radius: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
  position: relative;
}
.select_array ul li.swiper-slide-active {
  opacity: 1;
  border: 3px solid #fff;
}
.select_array ul li > div {
  position: absolute;
  z-index: 100;
}
.select_array ul li > div:nth-child(2) {
  z-index: 90;
}
.select_array ul li > div:nth-child(3) {
  z-index: 80;
}
.select_array ul li > div:nth-child(4) {
  z-index: 70;
}

.select_color_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 719px) {
  .select_color_wrap ul {
    width: 300px;
  }
}
.select_color_wrap ul li {
  width: 24px;
  height: 24px;
  margin: 10px;
  border-radius: 24px;
}
.select_color_wrap ul li:nth-child(1) {
  background-color: white;
  border: 1px solid #E2E2E2;
}
.select_color_wrap ul li:nth-child(2) {
  background-color: #FC3489;
}
.select_color_wrap ul li:nth-child(3) {
  background-color: #FFC9E0;
}
.select_color_wrap ul li:nth-child(4) {
  background-color: #FCDC34;
}
.select_color_wrap ul li:nth-child(5) {
  background-color: #FFA471;
}
.select_color_wrap ul li:nth-child(6) {
  background-color: #BBF4B6;
}
.select_color_wrap ul li:nth-child(7) {
  background-color: #A5DEFF;
}
.select_color_wrap ul li:nth-child(8) {
  background-color: #94C0F3;
}
.select_color_wrap ul li:nth-child(9) {
  background-color: #E09FF6;
}
.select_color_wrap ul li.plus {
  background-image: url(/assets/images/plus.svg);
  background-size: cover;
  background-position: center;
}
.select_color_wrap ul li.plus > input {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: none;
}
@media (min-width: 720px) {
  .select_color_wrap ul li.plus > input {
    opacity: 0;
  }
}

.button {
  width: 327px;
  height: 62px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FC3489;
  color: white;
  font-family: "Cafe24Simplehae", cursive;
  font-size: 30px;
  line-height: 135%;
  font-weight: 500;
  color: white;
}